# Ignore Gradle project-specific cache directory
.gradle
**/.idea
**/.vscode
**/out
*.jar
*.iml
*.class
**/build
**/bin
**/obj
**/.vs
*.swp
**/Debug
**/public
**/node_modules
*.log

# Ignore Gradle build output directory
build
