@page
@model IndexModel2
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
	<a asp-page="CreatePerson">Create Person</a>
    <br/>
	<a asp-page="ListPersons">List Persons</a>
    <br/>
    <a asp-page="ModelStateFault">Model State</a>
    <br/>
	<a asp-page="Intro">Intro</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
