@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    
    <h1>Code = @Html.ValueFor(model => model.OAuthModel.Code)</h1>
    <h1>Status = @Html.ValueFor(model => model.OAuthModel.Status)</h1>
    <p>Inloggen met digital ocean <a href="https://cloud.digitalocean.com/v1/oauth/authorize?client_id=e6416a79961950a29f5922e4ff6a12b09e5d51938397d67ad13b817f613e6b98&redirect_uri=https://poc-oauth.azurewebsites.net/callback&response_type=code">hier</a>.</p>
</div>
